[Desktop Entry]
Version=1.1
Type=Application
Name=SweetTypeTone
Comment=Play keyboard sounds as you type
Exec=SweetTypeTone
Icon=sweettypetone
Terminal=false
Keywords=keyboard;sound;typing;mechanical;
Categories=AudioVideo;Audio;
StartupNotify=false
